/*selector{
    property: value;
}

Types of selectors:
Element
Class .nombreclase
ID #id
*/

header{
    color: blue;
}

#par1{
    font: 25px sans-serif;
    color: green;
}

.txt{
    font-size: 18px;
    color: grey;
}